.songList {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  list-style-type: none;
  padding: 0;
}

.songImg {
  width: 17em;
  height: 17em;
  object-fit: cover;
}

/* body {
    margin: 0;
    font-family: 'Zilla Slab', serif;
    background-color: #fbeaff;
  } */